{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div id="mensagens" class="col-12">
     
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1 class="text-center">Registro de Alunos</h1>
    </div>
</div>

<div class="row mt-2 bg-body-secondary rounded-3">
    <div class="col-6 p-2">
        <form id="formulario">
            {% csrf_token %}
            {{form.nome}}
        </form>
    </div>
    <div class="col-2 d-flex justify-content-center p-2">
        <input type="checkbox" class="btn-check" name="options-outlined" id="success-outlined" value="pesquisa"
            autocomplete="off" checked>
        <label class="btn btn-outline-success" for="success-outlined">Pesquisa</label>
    </div>
    <div class="col-2 d-flex justify-content-center p-2">
        <button id="gravar" class="btn btn-outline-dark">Gravar</button>
    </div>
    <div class="col-2 d-flex justify-content-center p-2">
        <button id="relatorio" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Relatório</button>
    </div>
   
</div>

<div class="row mt-3">
    <div class="col-12">
        <table id="tabela" class="table table-hover table-responsive table-bordered table-primary">
            <thead>
                <th>RM</th>
                <th>Nome</th>
                <th>Atualizar</th>
            </thead>
            <tbody id="corpoTabela">
                {% for aluno in alunos %}
                <tr>
                    <td class="align-middle">{{aluno.rm}}</td>
                    <td class="align-middle">{{aluno.nome}}</td>
                    <td class="text-center">
                        <button id="botao{{aluno.rm}}" type="button"
                            class="btn btn-outline-dark btn-lg atualizar disabled" value="{{aluno.rm}}">
                            <i class="bi bi-arrow-repeat"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Geração do Relatório</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <div class="row">
      <div class="col-12">
        <input type="number" name="rmi" maxlength="150" class="form-control" 
        placeholder="RM Inicial" required="" id="id_rmi" min="1">
        </div>
        </div>
        <div class="row mt-2">
        <div class="col-12">
         <input type="number" name="rmf" maxlength="150" class="form-control" 
        placeholder="RM Final" required="" id="id_rmf" min="1">
        </div>
        </div>
      </div>
      <div class="modal-footer">
     
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
        <button id="baixarpdf" type="button" class="btn btn-primary">Baixar PDF</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $(document).ready(() => {
        // Pesquisar 
        function sendBuscar() {
            let nome = document.getElementById("id_nome").value;
            $.get({
                url: "{% url 'buscar' " + nome + " %}",
                data: {
                    "nome": nome,
                },
                success: (response) => {
                    $("#corpoTabela").html(response);
                }
            })
        }

        //Baixar Pdf
         function sendBaixarPdf(rmi, rmf) {
            
            $.get({
                url: "{% url 'baixarpdf' %}",
                datatype: 'pdf',
                data: {
                    "rmi": rmi,
                    "rmf": rmf
                },
                success: (response) => {
                  
                  var blob = new Blob([response], { type: 'application/pdf' });

                if (window.navigator && window.navigator.msSaveOrOpenBlob) {
                    window.navigator.msSaveOrOpenBlob(blob); // for IE
                }
                else {
                    var fileURL = URL.createObjectURL(blob);
                    var newWin = window.open(fileURL);
                    newWin.focus();
                 
                }
                }
            })
        }


        // Recarregar Tabela Estado Inicial
        function recarregarTabela() {
            $.get({
                url: "{% url 'recarregarTabela' %}",
                success: (response) => {

                    $("#corpoTabela").html(response);
                },
                fail: (response) => {

                }
            })
        }

        //Gravar Aluno
        function sendGravar() {
            let nome = document.getElementById("id_nome").value.toUpperCase();
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            $.post({
                url: "{% url 'gravar' %}",
                headers: {
                    'X-CSRFToken': csrftoken
                },
                data: {
                    "nome": nome,
                },
                success: (response) => {
                    configurarElementos(response);

                },
                fail: (response) => {


                }
            })
        }
        // Atualiar Aluno
        function sendAtualizar(rm) {
            let nome = document.getElementById("id_nome").value.toUpperCase();
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            $.post({
                url: "{% url 'atualizar' " + rm + "  %}",

                headers: {
                    'X-CSRFToken': csrftoken
                },
                data: {
                    "nome": nome,
                    "rm": rm
                },
                success: (response) => {
                    configurarElementos(response);
              
                },
                fail: (response) => {


                }
            }) 
        }

        function configurarElementos(response) {
                    $("#mensagens").html(response);
                     setTimeout(function(){
                        $("#mensagem").css("display","none");
                    }, 3000);
                    $("#id_nome").text = '';
                    $("#id_nome").focus();
                    $("#success-outlined").prop('checked', true);
                    $("#id_nome").prop("value",'');
                    recarregarTabela();
        }

        $("#gravar").click(() => sendGravar());

        $("#id_nome").keypress((event) => {
            let tecla = event.which;
            if (tecla == 13) {
                sendGravar();
               
            }
        });

        $("#baixarpdf").click(() => sendBaixarPdf($("#id_rmi").val(), $("#id_rmf").val()));

        $("#id_nome").keyup(() => {
            if ($("#success-outlined").is(":checked")) {

                sendBuscar();
            }
        });

        $("#id_nome").focus().keydown();

    
        $("#success-outlined").change(() => {
           if($("#success-outlined").is(":checked")){
                alert("checado");
                let botoes_atualizar = document.getElementsByClassName("atualizar");

                for(let i = 0; i < botoes_atualizar.length; i++){
                    botoes_atualizar[i].classList.add("disabled");
                }
            }
            else {
               
                let botoes_atualizar = document.getElementsByClassName("atualizar");
                for(let i = 0; i < botoes_atualizar.length; i++){
                    botoes_atualizar[i].classList.remove("disabled");

                     //alert(botoes_atualizar[i].value);
                     botoes_atualizar[i].addEventListener("click", function(){
                        
                        sendAtualizar(botoes_atualizar[i].value);
                        
                     });

                }
            }
            

        });
    });

 
    $("#formulario").submit((e) => {
        e.preventDefault();
    });
   
    
</script>
{% endblock content %}